body {
    margin: 0;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#canvas1 {
    border: 5px solid black;
}

#idlePlayer {
    display: none;
}